#fractal-canvas {
  image-rendering: auto;
  --edge-color: #56473a;
  max-width: 100%;
  height: auto;
  touch-action: none;
  cursor: crosshair;
}

:root[saved-theme="light"] #fractal-canvas {
  --edge-color: #56473a;
}

:root[saved-theme="dark"] #fractal-canvas {
  --edge-color: #e5d4d1;
}
