#fractal-canvas {
  image-rendering: pixelated;
  //border: 1px solid #0a3069;
  --edge-color: 0, 0, 0;        /* default black */
  /* any other styles you want */
}


:root[saved-theme="light"] #fractal-canvas {
  --edge-color: #56473A
}

:root[saved-theme="dark"] #fractal-canvas {
  --edge-color: #E5D4D1
}
